 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}


main {
    width: 100%;
}

.first {
    width: 100%;
    background-size: cover;
    background-position: top;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1511025998370-7d59f82e9c8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=853&q=80);
}


.inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.inner div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.inner div h1 {
    font-size: 45px;
    font-weight: 700;
}

.inner div p {
    font-size: 30px;
    width: 750px;
    line-height: 1.35;
    font-weight: 500;
}



.second {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 750px;
    margin: 100px 0;
}

.inner_second {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 30px;
    margin-bottom: 25px;
}

.inner_second h2 {
    font-size: 35px;

}

.inner_second p {
    width: 700px;
    text-align: center;
    font-size: 19px;
    line-height: 1.5;
}

.inner_second a {
    color: rgb(0, 191, 255);
    font-size: 20px;
    padding: 5px 10px;
}
.third {
    width: 100%;
    margin: 40px 0;
}

.big_card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;

}

.inner_third {
      width: 33%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.inner_third a {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
}

.inner_third a h2 {
    width: 450px;
    text-align: center;
    margin: 0 auto;
}

.inner_third a p {
    font-size: 20px;
    line-height: 1.5;
    margin: 10px 0;
}

.link {
    font-size: 20px;
    color: rgb(0, 191, 255);
}

footer {
    height: 350px;
    background-color: rgb(89, 155, 212);
    margin: 50px 0 0 0;
}

footer div {
    width: 90%;
    margin: 0 auto;
    height: 80%;
    padding: 20px 0;
}

footer ul li {
    padding: 10px 0;
    font-size: 20px;
}

.header-wrapper{
    margin: 40px;
}

/* CSS */
.button-47 {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
      width: 250px;

}