<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
<!--    <link rel="stylesheet" href="airpods-2.css">-->
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-wrapper">
                <div class="header-logo">
                    <img src="/img/apple.png" alt="">
                </div>
                <ul class="header-nav">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./airpods-2.html">AirPods 2</a></li>
                    <li><a href="./airpods-3.html">AirPods 3</a></li>
                    <li><a href="./airpods-pro.html">AirPods Pro</a></li>
                    <li><a href="./airpods-max.html">AirPods Max</a></li>
                </ul>
                <div class="header-contact">
                    <a href="#">
                        <img src="img/phone.png" alt="">
                        <span>+996 700 700 700</span>
                    </a>
                    <a href="#">
                        <img src="img/envelope.png" alt="">
                        <span>@example@gmail.com</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="main-wrapper">
                <h1 class="title">AirPods
                    Wireless. Effortless. Magical.</h1>
                <div class="main-info">
                    <img src="./img/airpods2.png" alt="">
                    <div class="main-content">
                        <h2>AirPods (2nd Generation)</h2>
                        <p>With plenty of talk and listen time, and an available wireless charging case, AirPods deliver
                            an incredible wireless headphone experience. Simply take them out and they’re ready to use
                            with all your devices. Put them in your ears and they connect immediately, immersing you in
                            rich, high-quality sound. Just like magic.</p>
                        <div class="main-sale">
                            <span>price: 240$</span>
                            <button>Add to cart </button>
                        </div>
                    </div>
                </div>
                <div class="main-info_battery">
                    <div class="main-content">
                        <h2>The power of 24‑hour battery life.</h2>
                        <p>AirPods deliver an industry-leading5 5 hours of listening time6 — and now up to 3 hours of
                            talk time7 — all on one charge. And they’re made to keep up with you, thanks to a charging
                            case that holds multiple charges for more than 24 hours of listening time.8 Need a quick
                            charge? Just put AirPods back in the case for 15 minutes to get up to 3 hours of listening
                            time9 or up to 2 hours of talk time.10 To check the battery, simply hold the AirPods next to
                            your iPhone. And when your AirPods need charging, a notification conveniently appears on
                            your iPhone.</p>
                        <ul class="main-sale">
                            <li>
                                <span>More than </span>
                                <strong>24 hr.</strong>
                                <p>of battery life with charging case</p>
                            </li>
                            <li>
                                <span>Up to </span>
                                <strong>5 hr.</strong>
                                <p>of listening time on one charge</p>
                            </li>
                            <li>
                                <span>Only </span>
                                <strong>15 min.</strong>
                                <p>of charging provides up to 3 hours of listening time</p>
                            </li>
                        </ul>
                    </div>
                    <div class="image-battery"></div>
                </div>
                <div class="main-info-instant">
                    <h2>Instant setup. Easy listening.
                    </h2>
                    <p>AirPods connect immediately, and sound seamlessly switches between your iPhone, Apple Watch, Mac, iPad, and Apple TV. Easy setup, magical results.</p>
                    <img src="./img/all-devices.png" width="550px" alt="">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <hr>
            <span>Copyright © 2022 Apple Inc. All rights reserved.</span>
        </div>
    </footer>
</body>

</html>