<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-wrapper">
                <div class="header-logo">
                    <img src="/img/apple.png" alt="">
                </div>
                <ul class="header-nav">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./airpods-2.html">AirPods 2</a></li>
                    <li><a href="./airpods-3.html">AirPods 3</a></li>
                    <li><a href="./airpods-pro.html">AirPods Pro</a></li>
                    <li><a href="./airpods-max.html">AirPods Max</a></li>
                </ul>
                <div class="header-contact">
                    <a href="#">
                        <img src="img/phone.png" alt="">
                        <span>+996 700 700 700</span>
                    </a>
                    <a href="#">
                        <img src="img/envelope.png" alt="">
                        <span>@example@gmail.com</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="main-wrapper">
                <h1>AirPods</h1>
                <div class="main-info">
                    <img src="./img/air max.png" alt="">
                    <div class="main-content">
                        <h2>AirPods Max</h2>
                        <p>Уникальные беспроводные наушники AirPods Max долго работают без подзарядки — как в режиме
                            прослушивания
                            аудио, так и в режиме разговора — и позволяют активировать Siri с помощью голоса. Они легко
                            подключаются к вашим устройствам, моментально готовы к работе и обеспечивают богатый,
                            качественный
                            звук. Словно по волшебству.</p>
                        <div class="main-sale">
                            <span>price: 240$</span>
                            <button>Add to cart </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>