<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-wrapper">
                <div class="header-logo">
                    <img src="/img/apple.png" alt="">
                </div>
                <ul class="header-nav">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./airpods-2.html">AirPods 2</a></li>
                    <li><a href="./airpods-3.html">AirPods 3</a></li>
                    <li><a href="./airpods-pro.html">AirPods Pro</a></li>
                    <li><a href="./airpods-max.html">AirPods Max</a></li>
                </ul>
                <div class="header-contact">
                    <a href="#">
                        <img src="img/phone.png" alt="">
                        <span>+996 700 700 700</span>
                    </a>
                    <a href="#">
                        <img src="img/envelope.png" alt="">
                        <span>@example@gmail.com</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="main-wrapper">
                <h1>AirPods</h1>
                <div class="main-info">
                    <img src="./img/airpods 3.png" alt="">
                    <div class="main-content">
                        <h2>AirPods (3nd Generation)</h2>
                        <p>AirPods, the Lightning Charging Case, and the MagSafe Charging Case are rated IPX4 sweat and
                            water resistant, so they’ll withstand anything from rain to heavy workouts.2
                            A case full of energy. Both the Lightning Charging Case and the MagSafe Charging Case give
                            AirPods up to 30 hours of listening time.3 The beauty of the MagSafe Charging Case is its
                            compatibility with MagSafe and other wireless chargers — for power in a click.</p>
                        <div class="main-sale">
                            <span>price: 240$</span>
                            <button>Add to cart </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>