<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>AirpodsShop</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body id="top">
<div class="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="header-logo">
                <img src="/static/img/apple.png" alt="">
            </div>
            <ul class="header-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/catalog/">Catalog</a></li>
                <li><a href="/order/">Ordering</a></li>
                <li><a href="/about_us/">About us</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            </ul>
            <div class="header-contact">
                <a href="#">
                    <img src="/static/img/phone.png" alt="">
                    <span>+996 700 700 700</span>
                </a>
                <a href="#">
                    <img src="/static/img/envelope.png" alt="">
                    <span>@example@gmail.com</span>
                </a>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="container">
        <div class="main-wrapper">
            <h1 class="title">Which AirPods
                 suitable for you?</h1>
            <ul class="main-all-airs">
                {% for w in info %}
                <li class="main-all-airs_item">
                    <div class="image-wrapper"><img src="{{w.image.url}}" alt=""></div>
                    <h4>{{w.title}}</h4>
                    <h4> Cost: {{w.cost}} som</h4>
                    <span>{{w.description}}</span>
                    <button class="btn">
                        <a href="show_detail/{{w.id}}/">Postview</a>
                    </button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
</body>
</html>