<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AirPodsShop</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="header-logo">
                <img src="/static/img/apple.png" alt="">
            </div>
            <ul class="header-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/catalog/">Catalog</a></li>
                <li><a href="/order/">Ordering</a></li>
                <li><a href="/about_us/">About us</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            </ul>
            <div class="header-contact">
                <a href="#">
                    <img src="/static/img/phone.png" alt="">
                    <span>+996 700 700 700</span>
                </a>
                <a href="#">
                    <img src="/static/img/envelope.png" alt="">
                    <span>@example@gmail.com</span>
                </a>
            </div>
        </div>
    </div>
</div>
<main>
    {% for i in headers %}
    <section class="first">
        <div class="inner">
            <div>
                <h1>{{i.title}}</h1>
                <p>{{i.description}}</p>
                <a class="button-47" href="/catalog/">Postview catalog</a>
            </div>
        </div>
    </section>
    {% endfor %}
    {% for j in post %}
    <section class="second">
        <div class="inner_second">
            <h2>{{j.title}}</h2>
            <p>{{j.description}}</p>
            <a href="/catalog/">Learn more ></a>

        </div>
        <img src="{{j.image.url}}"
             alt="axaxa" width="40%">
    </section>
    {% endfor %}
    <section class="third">
        <div class="big_card">
            <ul class="main-all-airs" >
                 {% for airpod in pic %}
                        <div class="inner_third" style="background-image:url({{airpod.image.url}})">
                            <a href="#">
                               <h2>{{airpod.title}}</h2>
                                <p>{{airpod.description}}</p>
                               <span>
                                   <a href="/catalog/show_detail/{{airpod.id}}/">Postview</a>
                               </span>
                           </a>
                       </div>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>
</body>
</html>